<%= render "shared/navbar", user: current_user %>
<%= render "shared/event_header", event: @event, map_url: @map_url, agenda_url: @agenda_url %>
<div class="text-center container">
    <% if @participation.organizer %>
        <input type="text" value="<%= "http://www.eventr.fr#{event_invitation_path(token: @event.token)}" %>" id="link">
        <button class="btn-base btn-blue btn-thin" onclick="copyLink()" data-toggle="popover" data-content="lien copié !">Partager le lien</button>
        <div class="alert alert-success  alert-dismissible fade show" role="alert" id="confirm" hidden>
            <p>lien copié !</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% else %>
        <%= link_to 'Je ne participe plus', event_participation_path(event_id: @event.id, id: @participation.id), data: { confirm: "Voullez vous vraiment quitter l'évenement ?"}, method: :delete, class: "btn btn-red btn-base" %>
    <% end %>
    <h1>Participants</h1>
    <div class="d-flex row">
        <% @participants.each do |p|%>
            <div class="col-4 my-4 <%= "d-none" if !p.confirmed %>">
                <% if p.organizer%>
                    <%= p.user.avatar.url.nil? ? image_tag("person-dummy.jpg", options = {class: "rounded-circle mb-3 shadow green-border"}) :  cl_image_tag(p.user.avatar, options = {class: "rounded-circle mb-3 shadow green-border"}) %>
                <%else%>
                    <%= p.user.avatar.url.nil? ? image_tag("person-dummy.jpg", options = {class: "rounded-circle mb-3 shadow"}) :  cl_image_tag(p.user.avatar, options = {class: "rounded-circle mb-3 shadow"}) %>
                <%end%>
                <br />
                <%= p.user.first_name %><%= p " (organisateur)" if p.organizer%>
            </div>
        <%end%>
    </div>
</div>

<script>
    const copyLink = () => {
        const link = document.getElementById("link");
        document.getElementById("confirm").removeAttribute('hidden');
        link.select();
        document.execCommand("copy");
    };
    const activeTab = document.getElementById("item-participations")
    activeTab.classList.add("active")
</script>