<div class="main_container">
  <div class="banner_form">
    <div class="title_form", style="top: 5%">  
      <h2>Mot de passe oublié ?</h2>
    </div>
    <div class="form", style="top: 25%">
      <div class="form-inputs">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        label: false,
                        placeholder: "Votre adresse email",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Envoyer", class:"btn-base btn-blue btn-large" %>
          </div>
        <% end %>
      </div>
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
