<div class="card-event">
	<div class="picture">
		<img src="https://images.unsplash.com/photo-1521473717695-e8f5635b7f6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="belle image">
		<h4><%= event.title %></h4>
		<div class="pelette">
			<div class="date">
				<div class="p day"><%= event.start_date.strftime("%d") %></div>
				<div class="p month"><%= event.start_date.strftime("%b") %></div>
			</div>
		</div>
	</div>
	<div class="infos">
		<div class="supplies">
			<span class="badge-pill badge badge-dark">
      <i class="fas fa-drumstick-bite"></i>
      3 
			</span>
			<span class="badge-pill badge badge-dark">
				<i class="fas fa-beer"></i>
				3
				# quantité à calculer
			</span>
			<span class="badge-pill badge badge-dark">
				<i class="fas fa-music"></i>
				3
			</span>
		</div>
		<div class="guests">
			<div class="img">
      <% event.participations.first(4).each do |participant| %>
        <%= cl_image_tag participant.user.avatar, gravity: :face, crop: :fill, class: "avatar-bordered" %>
        <% end %>
			</div>
			<p>participant(s) </p>
		</div>
	</div>
	<div class="organizer">
  <%= cl_image_tag event.user.avatar, gravity: :face, crop: :fill, class: "avatar-bordered" %>
	</div>
</div>
