<div class="card-event">
	<div class="picture">
		<%= event.picture.url.nil? ? image_tag("default-event.jpg") : cl_image_tag(event.picture, crop: :fill)  %>
		<h4><%= event.title %></h4>
		<div class="pelette">
			<div class="date">
				<div class="p day"><%= event.start_date.strftime("%d") %></div>
				<div class="p month"><%= l(event.start_date, format: :month) %></div>
			</div>
		</div>
	</div>
	<div class="infos">
		<div class="contributions">
			<h4>Vous apportez:</h4>
			<ul>
      <% contributions = event.participations.where(user_id: current_user)[0].contributions %>
        <% contributions.first(3).each do |contribution| %>
        <li> - <%= contribution.supply.title %></li>
        <% end %>
        <% if contributions.size > 3 %>
        <li>- ...</li>
        <% end %>
			</ul>
		</div>
		<div class="supplies">
			<% @categories.each do |category| %>
				<span class="badge-pill badge badge-dark">
					<i class="<%= category.icon %>"></i>
					<%=  category.category_supplies(event).size - category.status(event) %>
				</span>
			<% end %>
		</div>
		<div class="guests">
			<div class="img">
				<% event.participations.first(4).each do |participant| %>
					<%= participant.user.avatar.url.nil? ? image_tag("person-dummy.jpg", options = {class: "avatar-bordered"}) :  cl_image_tag(participant.user.avatar, options = {class: "avatar-bordered"}) %>
				<% end %>
			</div>
			<p> <%= event.participations.size %> participant(s) </p>
		</div>
	</div>
	<div class="organizer">
		<%= event.user.avatar.url.nil? ? image_tag("person-dummy.jpg", options = {class: "avatar-bordered"}) :  cl_image_tag(event.user.avatar, options = {class: "avatar-bordered"}) %>
	</div>
</div>
