<div id="event-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), 
  url('<%= @event.picture.url.nil? ? asset_url("default-event.jpg") :  cl_image_path(@event.picture) %>');">
  <div class="container">
    <div>
      <h2><%= event.title %></h2>
      <p>
        <strong>Date:</strong>
        <%= l(event.start_date, format: :custom).capitalize %> <%= "au #{l(event.end_date, format: :custom)}" if event.end_date > event.start_date %>
      </p>
      <p><%= event.address %> à <%= event.city %></p>
    </div>
    <div class="map d-flex flex-column justify-content-start">
    <%= link_to("https://www.google.com/maps/search/#{map_url}", target: "_blank") do %>
      <span class="fa-stack fa-2x mb-2">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
      </span>
    <%end%>
    <%= link_to(agenda_url, target: "_blank") do %>
      <span class="fa-stack fa-2x mb-2">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
      </span>
    <%end%>
    </div>
  </div>
  <% if current_user == event.user %>
    <div class="container">
        <%= link_to event_path(event), method: :delete, data: { confirm: "L'évènement va être supprimé !" }, class: "btn-base btn-danger" do %>
          Annuler l'évènement
        <% end %>
    </div>
  <% end %>
</div>