<div class="navbar-lewagon">
  <%= link_to event_path, class:"fas fa-home" %>
  <%= link_to 'Invités', event_participations_path %>
  <%= link_to 'Détails', event_path %>
  <%= link_to 'Ma liste', event_contributions_path %>
  <% if user_signed_in? %>
    <%= cl_image_tag user.avatar, class: "avatar" %>
  <% else %>
    <img src="<%= image_path("person-dummy.jpg") %>" class="avatar">
  <% end %>
</div>