<div class="event-container">
  <div class="event-banner">
  <div class="container align-items-center d-flex justify-content-between">
    <h1>Bonjour <%= current_user.first_name %></h1>
    <%= cl_image_tag current_user.avatar, class:"avatar-bordered" %>
  </div>
  </div>
  
  <div>
    <%= link_to 'Créer un évènement', new_event_path, class:"btn-base btn-blue" %>
  </div>

  <div class="container">

  <div class="separator">
    <h4>J'organise</h4>
</div>  
      <% @user_events.each do |event| %>
        <%= link_to event_path(event) do %>
          <%= render "shared/card", event: event %>
        <% end %>
      <% end %>
  

  <div class="separator">
    <h4>Je participe</h4>
  </div>
      <% @attending.each do |event| %>
        <%= link_to event_path(event) do %>
          <%= render "shared/card", event: event %>
        <% end %>
      <% end %>
  

  <div class="separator">
    <h4>Archivé(s)</h4>
  </div>
  
</div>
</div>