<div class="event-container">
  <div class="event-banner">
  <div class="container align-items-center d-flex justify-content-between">
    <h1>Bonjour <%= current_user.first_name %></h1>
    <div class="dropdown dropleft">
      <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.avatar.url.nil? ? image_tag("person-dummy.jpg", options = {class: "avatar-bordered"}) :  cl_image_tag(current_user.avatar, options = {class: "avatar-bordered"}) %>
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "Modifier mon profile", edit_user_registration_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>
  </div>
  </div>
  
  <div>
    <%= link_to 'Créer un évènement', new_event_path, class:"btn-base btn-blue" %>
  </div>

  

  <div class="separator">
    <h4>J'organise</h4>
  </div>
  <div class="container">  
    <% @user_events.each do |event| %>
      <%= link_to event_path(event) do %>
        <%= render "shared/card", event: event %>
      <% end %>
    <% end %>
  </div>

  <div class="separator">
    <h4>Je participe</h4>
  </div>
  <div class="container">
    <% @attending.each do |event| %>
      <%= link_to event_path(event) do %>
        <%= render "shared/card", event: event %>
      <% end %>
    <% end %>
  </div>

  <div class="separator">
    <h4>Archivé(s)</h4>
  </div>
<div class="container"></div>  
</div>
</div>