<div class="event-container">
  <div class="event-banner">
    <h1>Bonjour <%= current_user.first_name %></h1>
    <%= cl_image_tag current_user.avatar, class:"avatar-bordered" %>
  </div>
  
  <div>
    <%= link_to 'Créer un évènement', new_event_path, class:"btn-base btn-green" %>
  </div>

  <div class="banner-cat">
    <h2>J'organise</h2>
</div>  
      <% @user_events.each do |event| %>
        <%= link_to event_path(event) do %>
          <%= render "shared/card", event: event %>
        <% end %>
      <% end %>
  

  <div class="banner-cat">
    <h2>Je participe</h2>
  </div>
      <% @attending.each do |event| %>
        <%= link_to event_path(event) do %>
          <%= render "shared/card", event: event %>
        <% end %>
      <% end %>
  

  <div class="banner-cat">
    <h2>Archivé(s)</h2>
  </div>
  
</div>