<div class="new">

    <h1>Créer un événement</h1>

    <div>
      <%= simple_form_for [@event] do |f| %>
        <div class="form-inputs text-center">
            <%= f.input :title,
                        placeholder: "Titre de l'événement",
                        label: false,
                        required: true,
                        autofocus: true %>
            <%= f.input :address,
                        placeholder: "Adresse",
                        label: false,
                        required: true,
                        autofocus: true %>
            <%= f.input :zipcode,
                        placeholder: "Code postal",
                        label: false,
                        required: true,
                        autofocus: true %>
            <%= f.input :city,
                        placeholder: "Ville",
                        label: false,
                        required: true,
                        autofocus: true %>
            <%= f.input :start_date,
                        as: :string,
                        placeholder: "Date début",
                        label: false,
                        required: true,
                        autofocus: true,
                        input_html: { class: "datepicker" } %>
            <%= f.input :end_date,
                        as: :string,
                        placeholder: "Date fin",
                        label: false,
                        required: true,
                        autofocus: true,
                        input_html: { class: "datepicker" } %>
            <%= f.input :description,
                        placeholder: "Description",
                        label: false,
                        required: true,
                        autofocus: true %> 
            <div class="form-group file optional event_picture m-0">
              <label for="event_picture" class="m-0">
                <i class="fas fa-file-image fa-5x"></i>
                <p class="p-0 m-0">Une photo d'illustration<br />(optionnel)</p>
              </label>
              <input class="form-control-file file optional" type="file" name="event[picture]" id="event_picture">
            </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Créer l'événement", class:"btn-base btn-blue btn-large" %>
        </div>
      <% end %>
    </div>
</div>  