<%= render "shared/navbar" %>

<div class="banner" style="background-image: url('<%= cl_image_path @event.picture, crop: :fill %>')">
  <div>
    <h2><%= @event.title %></h2>
    <p>
      <strong>Date:</strong>
      <%= @event.start_date %> au <%= @event.end_date %>
    </p>
    <p><%= @event.address %></p>
  </div>
  <div class="map">
    <span class="fa-stack fa-2x">
    <i class="fas fa-circle fa-stack-2x"></i>
    <i class="fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
    </span>
  </div>
</div>

<div class="container">
  <div class="description">
    <p><strong>Infos utiles:</strong> <%= @event.description %></p>
    <%=  %>
  </div>
</div>

<div class="separator">
  <h4>Qui ramène quoi?</h4>
</div>

<div class="container">

  <div class="category">
    <a data-toggle="collapse" href="#nourriture" role="button" aria-expanded="false" aria-controls="nourriture">
      <div class="category-title">
        <h4>Nourriture ( ? / <%= @feed.size %> )</h4>
        <i class="fas fa-plus"></i>
      </div>
    </a>
    <div class="category-list collapse" id="nourriture">
      <% @feed.each do |supply| %>
        <%= render "supply_card", supply: supply %>
      <% end %>
      <button type="button" class="btn-base btn-green" data-toggle="modal" data-target="#new">
        Il manque...
      </button>
    </div>
  </div>

  <div class="category">
    <a data-toggle="collapse" href="#boissons" role="button" aria-expanded="false" aria-controls="boissons">
      <div class="category-title">
        <h4>Boissons ( ? / <%= @drinks.size %> )</h4>
        <i class="fas fa-plus"></i>
      </div>
    </a>
    <div class="category-list collapse" id="boissons">
      <% @drinks.each do |supply| %>
        <%= render "supply_card", supply: supply %>
      <% end %>
      <button class="btn-base btn-green text-center">Il manque...</button>
    </div>
  </div>

  <div class="category">
    <a data-toggle="collapse" href="#autres" role="button" aria-expanded="false" aria-controls="autres">
      <div class="category-title">
        <h4>Autres ( ? / <%= @others.size %> )</h4>
        <i class="fas fa-plus"></i>
      </div>
    </a>
    <div class="category-list collapse" id="autres">
      <% @others.each do |supply| %>
        <%= render "supply_card", supply: supply %>
      <% end %>
      <button class="btn-base btn-green text-center">Il manque...</button>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
          <h2>Il manque...</h2>
          <form action="<%= event_contributions_path %>" method="post">
            <div class="d-flex">
              <input type="number" placeholder="2">
              <input type="text" placeholder="paquets de chips">
            </div>
            <div class="d-flex">
              <p>j'en prend</p>
              <input type="checkbox">
              <input type="number">
            </div>
            <input type="submit" value="Ajouter">
          </form>
      </div>
    </div>
  </div>  
</div>
