<div class="banner" style="background-image: url('<%= cl_image_path @event.picture, crop: :fill %>')">
  <div>
    <h2><%= @event.title %></h2>
    <p>
      <strong>Date:</strong>
      <%= @event.start_date %> au <%= @event.end_date %>
    </p>
    <p><%= @event.address %></p>
  </div>
  <div class="map">
    <span class="fa-stack fa-2x">
    <i class="fas fa-circle fa-stack-2x"></i>
    <i class="fas fa-map-marked-alt fa-stack-1x fa-inverse"></i>
    </span>
  </div>
</div>

<div class="container">
  <div class="description">
    <p><strong>Infos utiles:</strong> <%= @event.description %></p>
    <%=  %>
  </div>
</div>

<div class="separator">
  <h4>Qui ramène quoi?</h4>
</div>

<div class="container">

  <div class="category">
    <a data-toggle="collapse" href="#nourriture" role="button" aria-expanded="false" aria-controls="nourriture">
      <div class="category-title">
        <h4>Nourriture ( ? / <%= @feed.size %> )</h4>
        <i class="fas fa-plus"></i>
      </div>
    </a>
    <div class="category-list collapse" id="nourriture">
      <% @feed.each do |supply| %>
        <%= render "supply_card", supply: supply %>
      <% end %>
      <button class="btn-base btn-green text-center">Il manque...</button>
    </div>
  </div>

</div>