<div class="supply-card" data-supply-id="<%= supply.id %>" data-part="<%= contribution.nil? ? 0 : contribution.part %>">
  <div class="d-flex justify-content-between">
    <strong><%= supply.quantity %> <%= supply.title %></strong>
    <span class="mx-1 text-right">
      <%= link_to event_supply_path(@event, supply), remote: true , method: :delete, data: { confirm: "Êtes vous sûr ?" }, class: "text-decoration-none text-secondary" do %>
        <strong><i class="fas fa-trash"></i></strong>
      <% end %>
    </span>
  </div>
  <div class="d-flex justify-content-between">
    <p style="font-size: 16px; color: <%= supply.rest == 0 ? "green" : "gray" %>; margin: 2px"><%= supply.rest %> restant(s)</p>
    <div class="guests">
      <% supply.contributions.first(4).each do |contribution| %>
        <%= contribution.participation.user.avatar.url.nil? ? image_tag("person-dummy.jpg", options = {class: "avatar", size: "30", style: "margin-left: -10px; border: 1px solid white;"}) :  cl_image_tag(contribution.participation.user.avatar, options = {class: "avatar", size: "30", style: "margin-left: -10px; border: 1px solid white;"}) %>
      <% end %>
		</div>
  </div>
  <div class="actions d-flex align-items-center">
    <span>J'en prends : </span>
    <button class="btn incrementer minus" data-offset="-1"><i class="fas fa-minus-circle"></i></button>
    <span class="counter" data-rest="<%= supply.rest %>" data-count="<%= contribution.nil? ? 0 : contribution.part %>"><%= contribution.nil? ? 0 : contribution.part %></span>
    <button class="btn incrementer plus" data-offset="1"><i class="fas fa-plus-circle"></i></button>
    <% if contribution.nil? %>
      <%= form_for([@event, Contribution.new], remote: true) do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :participation_id, participation.id %>
        <%= hidden_field_tag :supply_id, supply.id %>
        <input type="hidden" class="part" name="part" value="0">
        <input type="submit" value="Valider" disabled="true" class="submit inactive btn-thin btn-base btn-blue" style="margin: 2px">
      <% end %>
    <% else %>
      <%= form_for([@event, contribution], method: :put, remote: true) do %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :participation_id, participation.id %>
        <%= hidden_field_tag :supply_id, supply.id %>
        <input type="hidden" class="part" name="part" value="0">
        <input type="submit" value="Valider" disabled="true" class="submit inactive btn-base btn-blue btn-thin" style="margin: 2px">
      <% end %>
    <% end %>
  </div>
</div>
