<% content_for :meta_title, "Ma liste de courses | #{l(@event.start_date, format: :custom).capitalize} | #{@event.title} chez #{@event.user.first_name}" %>
<%= render "shared/navbar", user: current_user %>
<%= render "shared/event_header", event: @event, map_url: @map_url, agenda_url: @agenda_url %>

<div class="container">

  <%= render 'shared/to_do', contributions: @contributions %>

  <div class="create-fee">

    <% if @participation.fee.nil? %>
      <h3>Participation aux frais :</h3>
      <form action="<%= event_fees_path(@event) %>" method="post">
        <label for="cost">J'ai dépensé :</label>
        <input type="number" name="cost">
        <label for="cost"> €</label>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :participation_id, @participation.id %>
        <%= hidden_field_tag :event_id, @event.id %><br>
        <input type="submit" value="Demander" class="btn-base btn-blue">
      </form>
    <% else %>
      <a class="btn" data-toggle="collapse" href="#modif-form" role="button" aria-expanded="false" aria-controls="modif-form">
        <h2 class="text-secondary">Vous avez dépensé : <%= @participation.fee.cost %> €
        <i class="fas fa-edit"></i>
        </h2>
      </a>
      <div class="collapse" id="modif-form">
        <%= form_for([@event, @participation.fee], method: :put) do %>
          <input type="number" name="cost" value="<%= @participation.fee.cost %>">
          <label for="cost"> €</label>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br>
          <input type="submit" value="Envoyer" class="btn-base btn-blue">
        <% end %>
        <%= link_to event_fee_path(@event, @participation.fee), method: :delete, class: "btn-base btn-red" do %>
          Ne rien demander
        <% end %>
      </div>
    <% end %>

  </div>

</div>

<script>
  const activeTab = document.getElementById("item-list")
  activeTab.classList.add("active")
</script>