<%= render "shared/navbar", user: current_user %>
<%= render "shared/event_header", event: @event, map_url: @map_url, agenda_url: @agenda_url %>
<div class="container-fees">
<% if @fees.first.nil? %>
  <p>Pas encore de frais...</p>
<% end %>

<% my_fee = @fees.find_by(participation_id: @participation.id) %>
<% unless my_fee.nil? %>
  <div class="my-fee">
    <h3>Vous avez demandé : <%= my_fee.cost %> €</h3>
    <p><%= my_fee.fee_contributions.size %> personnes participent</p>
    <p>Prix/personne : <%= my_fee.price_per_person %> €</p>
  </div>
<% end %>

<% unless @participation.fee_contributions.empty? %>
  <div class="btn-green text-light">
    <a class="btn text-light" data-toggle="collapse" href="#my-fees_contr" role="button" aria-expanded="false" aria-controls="my-fees_contr">
      <h3>Je participe aux frais de <%= @participation.fee_contributions.size %> personne(s)</h3>
    </a>
    <div class="container collapse" id="my-fees_contr">
      <% @participation.fee_contributions.each do |fc| %>
        <p>Je dois <%= fc.fee.price_per_person %> € à <%= fc.fee.participation.user.first_name %> <%= fc.fee.participation.user.last_name %></p>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container">
  <% @fees.each do |fee| %>
    <% unless fee == my_fee  %>
      <div class="fee-card">
        <%= render "fee_card", event: @event, fee: fee, participation: @participation %>
      </div>
    <% end %>
  <% end %>

</div>

<script>
  const activeTab = document.getElementById("item-frais")
  activeTab.classList.add("active")
</script>
</div>